.DS_Store
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
private_info.py
news_pipeline_config.json
telegram_session.session.vscode/
telegram_session.session
.venv3.9
kursachik.egg-info
kursach.egg-info
.DS_Store
.DS_Store
